@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";


$primary: #7289DA;
$body-background-color: #F2F6FA;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: $white-ter;
}

::-webkit-scrollbar-thumb {
  background-color: $grey;
  border-radius: 10px;
}

.chat-room {
  width: 100%;
  max-height: 600px;
  overflow: auto;
  overflow-y: scroll;
}

article.post {
  margin: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E6EAEE;
}

article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.for-text-link a {
  color: $black-ter;
}

.for-text-link a:hover {
  color: $grey-dark;
}

.media {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.media-left {
  margin-right: 8px !important;
}

.media-left, .media-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
}

.media-content p {
  font-size: 14px;
  line-height: 2.3;
  font-weight: 700;
  color: #8F99A3;
}

.image {
  position: relative;
}

.menu-list a:hover {
  background-color: $white-ter
}

.menu-list a.is-active {
  background-color: $grey-dark !important;
}

.has-text-orange {
  color: hsl(14, 100%, 53%) !important;
}

@import "~bulma/bulma";